html {
    font-family: "Noto Sans TC", sans-serif;
}

body {
    display: grid;
    grid-template-columns: auto minmax(20%, max-content);
    grid-template-rows: min-content auto;
    grid-template-areas: "header progress" "form preview";
    grid-gap: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

header {
    grid-area: header;
}

main form {
    padding: 1em;
    grid-area: form;
    overflow-y: scroll;

    fieldset {
        border: thin solid black;
        margin: 1em 0;
        padding: 1em;

        legend {
            font-size: 1.2em;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                margin-bottom: 1em;

                &:last-of-type {
                    margin-bottom: unset;
                }

                div {
                    margin-top: 0.5em;
                    display: flex;

                    span {
                        margin-left: 1em;
                        flex: 0 1;
                    }

                    input,
                    textarea,
                    select {
                        flex: 1 1 auto;
                        box-sizing: border-box;
                        font-size: 0.9em;
                        font-family: inherit;
                        background-color: white;
                        border: thin solid black;
                        padding: 0.2em 0.4em;

                        &:required + :after {
                            content: "☐";
                            color: red;
                        }
                        &:required:not(&[value=""]):invalid + :after {
                            content: "☒";
                            color: red;
                        }
                        &:required:not([value=""]):valid + :after {
                            content: "☑";
                            color: green;
                        }
                        &::placeholder {
                            color: darkgray;
                            font-style: italic;
                        }
                    }
                    textarea {
                        resize: vertical;
                        min-height: min-content;
                        height: auto;
                    }
                }

                input[type="checkbox"].help {
                    display: inline-block;
                    -webkit-appearance: none;
                    appearance: none;

                    &:after {
                        content: "?";
                        padding: 0.5em;
                        font-size: 1.2em;
                        cursor: help;
                    }
                    & + p.help {
                        display: none;
                        color: dimgray;
                        margin: 0;
                        padding: 0 1em;
                        font-size: 0.8em;
                    }

                    &:checked + p.help {
                        display: block;
                    }
                }
            }
        }
    }
}

#progress {
    grid-area: progress;
    border-left: thin solid black;
}

#preview {
    grid-area: preview;
    border-left: thin solid black;

    #nav-bar {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            flex: 1 1 auto;

            button {
                width: 100%;
            }

            &#update {
                display: flex;

                > * {
                    flex: 1 1 auto;
                }
            }
        }
    }
}
