body {
    display: grid;
    grid-template-columns: auto minmax(20%, max-content);
    grid-template-rows: min-content auto;
    grid-template-areas: "header progress" "form preview";
    grid-gap: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

header {
    grid-area: header;
}

main form {
    grid-area: form;
    overflow-y: scroll;

    fieldset {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
                margin-bottom: 1em;
                &:last-of-type {
                    margin-bottom: unset;
                }

                display: grid;
                grid-template-columns: max-content auto;
                grid-gap: 1em;

                label {
                    grid-column: 1;
                }
                input, textarea {
                    grid-column: 2;
                }

                details {
                    // break the detail view (repaired in js)
                    pointer-events: none;
                    font-size: 0.7em;

                    > summary {
                        outline: none !important;

                        label,
                        input {
                            // fix the labels after breaking details
                            pointer-events: auto;
                            font-size: 1rem;
                        }

                        &::-webkit-details-marker {
                            display: none;
                        }
                        &:first-of-type {
                            list-style-type: none;
                        }
                        &:after {
                            content: "？";
                            margin-left: 0.5em;
                            pointer-events: auto;
                        }
                    }
                }
            }
        }
    }
}

#progress {
    grid-area: progress;
    border-left: thin solid black;
}

#preview {
    grid-area: preview;
    border-left: thin solid black;

    #nav-bar {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            flex: 1 1 auto;

            button {
                width: 100%;
            }

            &#update {
                display: flex;

                > * {
                    flex: 1 1 auto;
                }
            }
        }
    }
}
