// See HPI Corporate Design Manual
$hpi-yellow: rgb(246, 168, 0); // use 100%, 60%, 40%
$hpi-orange: rgb(221, 97, 8);
$hpi-red: rgb(177, 6, 58);
$hpi-grey: rgb(90, 96, 101); // use 100%, 70%, 50%, 20%
$hpi-blue: rgb(0, 122, 158); // use 100%, 60%, 40%, 15%
$border-color: black;
$border-style: thin solid $border-color;
$box-background: white;
$box-shadow-style: 0 0 0.6em rgba(black, 0.7);
$box-bottom-shadow-style: 0 0.6em 0.6em -0.6em rgba(black, 0.7);
$input-hover-color: rgba($hpi-yellow, 0.4);
$highlight-shadow-style: 0 0 0.6em $hpi-yellow;
$invalid-shadow-style: 0 0 0.5em $hpi-red;

html {
    font-family: "Noto Sans TC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    display: grid;
    grid-template-columns: auto minmax(20%, max-content);
    grid-template-rows: min-content auto;
    grid-template-areas: "header about" "form preview";
    grid-gap: 0;
    margin: 0;
    width: 100vw;
    min-width: 820px;
    background: $hpi-blue
        url("https://hpi.de/fileadmin/user_upload/hpi/bilder/hintergruende/startseite_hintergrund_1920x1200.jpg")
        no-repeat fixed center bottom;
    background-size: cover;
    overflow-x: hidden;
}

header, #about {
    position: relative;
    z-index: 5;
    box-shadow: $box-bottom-shadow-style;
}

header {
    grid-area: header;
    background-color: $box-background;
    padding: 2em 3em;

    h1 {
        font-size: 2em;
        color: $hpi-orange;
        padding: 0 0 0 0.1em;
        margin: 0;
    }
    h2 {
        font-size: 1.4em;
        color: $hpi-red;
        margin: 0.3em 0 0 0;
        padding: 0 0.5em 0.2em;
        border-bottom: thin solid $hpi-red;
    }
}

#about {
    grid-area: about;
    background: $box-background
        url("https://hpi.de/fileadmin/templates/img/hpi_logo_srgb_wb_sl1_web80.png")
        no-repeat center center;
}

hr {
    border: none;
    border-bottom: $border-style;
}

input,
textarea,
select,
button {
    box-sizing: border-box;
    font-family: inherit;
    background-color: white;
    border: $border-style;
    outline: unset;
    padding: 0.2em 0.4em;
    transition-delay: 20ms;
    transition-duration: 200ms;
    transition-property: background-color, color;

    &::placeholder {
        color: darkgray;
        font-style: italic;
    }

    &:hover {
        box-shadow: $highlight-shadow-style;
    }

    &:focus,
    &:active {
        box-shadow: $highlight-shadow-style;
        background-color: $input-hover-color;

        &::placeholder {
            color: white;
        }
    }
    
    &:disabled {
        cursor: not-allowed;
        &:hover {
            background-color: rgba($hpi-grey, 0.2);
            box-shadow: none;
        }
    }
    &:not(:disabled) {
        cursor: pointer;
    }
}
input[type="text"],
textarea {
    cursor: text !important;
    &:required {
        background-image: linear-gradient(to top right, transparent 0%, transparent 50%, $hpi-orange 50%, $hpi-orange 100%);
        background-size: 1em 1em;
        background-position: right top;
        background-repeat: no-repeat;
    }
}
button {
    padding: 0.6em 0.8em;

    &:focus {
        box-shadow: $highlight-shadow-style, $highlight-shadow-style inset;
        background-color: unset;
    }
}
input,
textarea,
select {
    &:required:invalid {
        border: thin solid $hpi-red;

        &:focus,
        &:active,
        &:hover {
            box-shadow: $invalid-shadow-style;
        }

        &:focus,
        &:active {
            background-color: rgba($hpi-red, 0.4);
        }
    }

    &:required:not([value=""]):valid {
        border: $border-style;
    }
}
textarea {
    resize: vertical;
    min-height: min-content;
    width: auto;
    height: auto;
}
button {
    transition-delay: 20ms;
    transition-duration: 200ms;
    transition-property: background-color;

    &:hover {
        background-color: $input-hover-color;
    }

    &:active {
        background: $hpi-yellow;
    }
}
output {
    text-align: right;
}

a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: $hpi-blue;

    &:hover, &:focus, &:active {
        text-decoration: underline;
    }
}

main form {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    margin: 0;
    margin-left: auto;
    padding: 2em 1.5em;
    max-width: 60vw;
    min-width: 540px;
    grid-area: form;
    background-color: rgba($hpi-orange, 0.6);

    > section, fieldset {
        border: none;
        background-color: $box-background;
        box-shadow: $box-shadow-style;
        padding: 1em;
        margin: 0em 0 2em 0;

        h3, legend {
            float: left;
            padding: 0;
            margin-bottom: 1em;
            margin-block-start: unset;
            width: 100%;
            background-color: $box-background;
            color: $hpi-orange;
            font-size: 1.2em;
            font-weight: initial;
            text-transform: uppercase;
            border-bottom: thin solid $hpi-orange;
            
            &:after {
                content: '';
                clear: both;
            }
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                margin-bottom: 1em;

                &:last-of-type {
                    margin-bottom: unset;
                }


                label {
                    & > input.disable {
                        margin-right: 0.8em;
                    }

                    &.required:after {
                        content: '* Required Field';
                        margin-left: 0.8em;
                        font-size: 0.8em;
                        color: $hpi-grey;
                    }
                }

                > div {
                    margin-top: 0.5em;
                    display: flex;

                    input,
                    textarea,
                    select {
                        flex: 1 1 auto;
                        // width: 100%;
                        font-size: 0.9em;
                    }

                    textarea {
                        flex-basis: 100%;
                    }
                }

                input[type="checkbox"].help {
                    display: block;
                    float: right;
                    padding: 0;
                    border: none;
                    border-radius: 50%;
                    -webkit-appearance: none;
                    appearance: none;

                    &:after {
                        content: "?";
                        padding: 0.5em;
                        font-weight: bold;
                        font-size: 1.3em;
                        cursor: help;
                    }
                    & + p.help {
                        display: none;
                        color: dimgray;
                        margin: 0.6em 0 1em 0;
                        padding: 0 1em;
                        font-size: 0.9em;
                    }

                    &:checked + p.help {
                        display: block;
                    }

                    &:focus {
                        background: inherit;
                        box-shadow: $highlight-shadow-style;
                    }

                    &:checked {
                        border: none;
                        background: rgba($hpi-yellow, 0.6);
                    }
                }
            }
        }
    }

    section ul {
        list-style-type: disc;
        color: $hpi-orange;
        padding-left: 1.6em;
    }
}

#nav-bar {
    grid-area: preview;
    z-index: 2;
    top: 2em;
    position: sticky;
    height: min-content;
    margin: 2em;
    margin-right: 2.5em;
    padding: 1em;
    background-color: $box-background;
    box-shadow: $box-shadow-style;

    hr {
        margin: 1.25em 0;
    }

    section {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;

        > section {
            flex-direction: row;
            margin-bottom: 1em;

            label {
                margin-right: 0.5em;
            }

            > * {
                flex: 1 1 auto;
            }

            i {
                display: inline-block;
                flex: 0 0 auto;

                &:before {
                    font-size: 1.2em;
                    line-height: 1.2em;
                }
            }
        }

        button {
            display: block;
            flex: 1 1 auto;
            width: 100%;
            text-align: left;

            &:not(:last-of-type) {
                border-bottom: none;
            }

            i {
                display: inline-block;
                text-align: center;
                margin-right: 0.8em;
                width: 1em;
            }
        }
    }
}
